<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="{{bootstrap_css}}"/>
        <title>PorkoFeed</title>
        <style>
            .pork {
                cursor: url("{{paw_pic}}"), auto;
            }
        </style>
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="/">PorkoFeed</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                  <a class="nav-link" href="/setfeed">Set Feeding Times</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/feedlog">See Feed Log</a>
                </li>
            </div>
        </nav>
        <div class="pork">
            <div class="container" style="margin-top: 3rem">
                <div class="row justify-content-lg-center">
                    <div class="col-lg-auto">
                        <h3 class="display-4">Set Feeding Times</h3>
                        <form method="post">
                            <div class="form-group">
                                <label for="morning">Morning Time</label>
                                <input type="time" class="form-control" id="morning" name="morning" value="{{m_time}}">
                            </div>
                            <div class="form-group">
                                <label for="night">Night Time</label>
                                <input type="time" class="form-control" id="night" name="night" value="{{n_time}}">
                            </div>
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </form>
                    </div>
                </div>
                <div class="row justify-content-lg-center" style="margin-top: 10rem">
                    <div class="col-lg-auto text-center">
                        <h3 class="display-4">Or Feed Him Now</h3>
                        <button type="button" class = "btn btn-secondary" id="feednow">RELEASE FOOD UNTO THE PORK</button>
                        <p id="feednowp"></p>
                    </div>
                </div>
            </div>
        </div>
        <script src="{{jquery_js}}"></script>
        <script src="{{bootstrap_js}}"></script>
        <script>
            //TODO: add some sort of check
        $("#feednow").click(function() {
	    ${"#feednowp").text("Feeding...");
            $.get( "feednow", function() {
                $("#feednowp").text("Feeding...");
            })
            .done(function() {
                $("#feednowp").text("Fed").css("color", "green");
            })
            .fail(function() {
                $("#feednowp").text("Error Feeding!").css("color", "red");
            });
            
        });
        </script>
    </body>
</html>
